---
layout: default 
---
<div id="sidebar">
  <div class="vertical_divider"></div>
  <h1>API Reference</h1>
  <ul>
    {% capture get_items %}
      {% for cat in site.categories %}
        {{ cat | first }}
      {% endfor %}
    {% endcapture %}
    {% capture num_words %}
      {{ get_items | split:' ' |  sort | join:' ' | number_of_words }} 
    {% endcapture %}
    {% for item in (1..num_words) %}
      {% capture this_word %}
        {{ get_items | split:' ' |  sort | join:' ' | truncatewords:item | remove:'...' | split:' ' | last }} 
      {% endcapture %}
      <li><a class="caps" href="{{ this_word | strip_newlines | remove:' ' }}">{{ this_word }}<a></li>
    {% endfor %}
  </ul>
  <ul>
    <li><a href="popcorn-docs/index.html">Keyword Index</a></li>
  </ul>
</div>
<div id="scrollable">
  <div id="content">
    <div id="home">
      <h1><a name="API%20Reference">API Reference</a></h1>
      <ul>
        {% for item in (1..num_words) %}
          {% capture this_word %}
            {{ get_items | split:' ' |  sort | join:' ' | truncatewords:item | remove:'...' | split:' ' | last }}
          {% endcapture %}
          <li>
          <h2><a  class="caps" href="{{ this_word | strip_newlines | remove:' ' }}">{{ this_word | strip_newlines | remove:' ' }}</a></h2>
            {% for post in site.posts %}
              {% if this_word contains post.title %}
                <span>{{ post.content | strip_newlines }}</span>
              {% endif %}
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
