---
layout: default
title: Players
---
<nav class="main">
  <h1><a href="/popcorn-docs/index.html">API Reference</a></h1>

  <ul>
    <li><a href="/popcorn-docs/getting-started">Getting Started</a></li>
		<li><a href="/popcorn-docs/addon-development">Addon Development</a></li>
    <li><a href="/popcorn-docs/popcorn-constructor">Popcorn Constructor</a></li>
    <li><a href="/popcorn-docs/popcorn-methods">Popcorn Methods</a></li>
    <li><a href="/popcorn-docs/media-methods">Media Methods</a></li>
    <li><a href="/popcorn-docs/media-properties">Media Properties</a></li>
    <li><a href="/popcorn-docs/utility-methods">Utility Methods</a></li>
    <li><a href="/popcorn-docs/events">Events</a></li>
    <li><a href="/popcorn-docs/plugins">Plugins</a></li>
    <li><a href="/popcorn-docs/media-wrappers">Media Wrappers</a></li>
    <li><a class="selected" href="/popcorn-docs/players">Players</a></li>
    <li><a href="/popcorn-docs/parsers">Parsers</a></li>
    <li><a href="/popcorn-docs/modules">Modules</a></li>
    <li><a href="/popcorn-docs/effects">Effects</a></li>
  </ul>
</nav>

<div class="scrollable">
  <section class="content">

    <header>
      <h1 id="players">Players - deprecated</h1>

      <p>Players are deprecated, it is advised to use <a href="/popcorn-docs/media-wrappers/">Media Wrappers</a> instead.

      <p>Players allow Popcorn to be used with various other types of media other than HTML5 video and audio.  This means it can be used with YouTube, Vimeo, and SoundCloud.  This creates the potential for various media to be incorporated with Popcorn.js.</p>
    
      <nav>
        <ul>
        {% for post in site.categories.players reversed %}
          <li><a class="lower" href="#{{ post.title  }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
      </nav>
    </header>

    {% for post in site.categories.players reversed %}
    <article id="{{ post.title }}">
      {{ post.content }}
    </article>
    {% endfor %}
  </section>
</div>
