---
layout: default
title: Parsers 
---
<div id="sidebar">
  <div class="vertical_divider"></div>
  <h1>API Reference</h1>
  <ul>
    {% capture get_items %}
      {% for cat in site.categories %}
        {{ cat | first }}
      {% endfor %}
    {% endcapture %}
    {% capture num_words %}
      {{ get_items | split:' ' |  sort | join:' ' | number_of_words }} 
    {% endcapture %}
    {% for item in (1..num_words) %}
      {% capture this_word %}
        {{ get_items | split:' ' |  sort | join:' ' | truncatewords:item | remove:'...' | split:' ' | last }} 
      {% endcapture %}
      <li><a class="caps" href="/{{ this_word | strip_newlines | remove:' ' }}">{{ this_word }}<a></li>
    {% endfor %}
  </ul>
  <ul>
    <li><a href="/index.html">Keyword Index</a></li>
  </ul>
</div>
<div id="scrollable">
  <div id="content">
    <h1><a name="{{ page.title }}">{{ page.title }}</a></h1>
    {% for post in site.categories.parsers %}
      <ul>
        {% capture currentPost %}
          {{ post.url | split:'/' | last | split:'.' | first | strip_newlines | remove:" " }}
        {% endcapture %}
        {% if currentPost contains "index" %}
        {% else %}
          <li><a href="#{{ currentPost | remove:" " | strip_newlines }}">{{ currentPost | remove:" " | strip_newlines }}</a></li>
        {% endif %}
      </ul> 
    {% endfor %}
    {% for post in site.categories.parsers %}
      {% capture currentPost %}
        {{ post.url | split:'/' | last | split:'.' | first | strip_newlines | remove:" " }}
      {% endcapture %}
      {% if currentPost contains "index" %}
      {% else %}
        <a name="{{ currentPost | remove: " " | strip_newlines }}"></a>
        {{ post.content }}
      {% endif %}
    {% endfor %}
  </div>
</div>
