---
layout: default
title: Effects
---
<nav class="main">
  <h1><a href="/popcorn-docs/index.html">API Reference</a></h1>

  <ul>
    <li><a class="caps" href="/popcorn-docs/getting-started">Getting Started</a></li>
    <li><a class="caps" href="/popcorn-docs/popcorn-constructor">Popcorn Constructor</a></li>
    <li><a class="caps" href="/popcorn-docs/media-methods">Media Methods</a></li>
    <li><a class="caps" href="/popcorn-docs/media-properties">Media Properties</a></li>
    <li><a class="caps" href="/popcorn-docs/utility-methods">Utility Methods</a></li>
    <li><a class="caps" href="/popcorn-docs/events">Events</a></li>
    <li><a class="caps" href="/popcorn-docs/plugins">Plugins</a></li>
    <li><a class="caps" href="/popcorn-docs/players">Players</a></li>
    <li><a class="caps" href="/popcorn-docs/parsers">Parsers</a></li>
    <li><a class="caps" href="/popcorn-docs/modules">Modules</a></li>
    <li><a class="selected" class="caps" href="/popcorn-docs/effects">Effects</a></li>
  </ul>
</nav>

<div class="scrollable">
  <section class="content">

    <header>
      <h1 id="effects">Effects</h1>
    
      <p>Effects define functions that are executed before the start and end of a track event. For example, a developer can create visual cues that signify when an event is starting or ending, notifying users that something is changing within the page. Effects are not limited to visual cues.</p>
    
      <nav>
        <ul>
        {% for post in site.categories.effects %}
          <li><a class="lower" href="#{{ post.title  }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
      </nav>
    </header>

    {% for post in site.categories.effects %}
    <article id="{{ post.title }}">
      {{ post.content }}
    </article>
    {% endfor %}
  </section>
</div>
