---
layout: default
title: Media Methods 
---
<div id="sidebar">
  <div class="vertical_divider"></div>
  <h1><a href="/popcorn-docs/index.html">API Reference</a></h1>
  <ul>
    <li><a class="caps" href="/popcorn-docs/getting-started">Getting Started</a></li>
    <li><a class="caps" href="/popcorn-docs/effects">Effects</a></li>
    <li><a class="caps" href="/popcorn-docs/events">Events</a></li>
    <li><a class="caps" href="/popcorn-docs/media-methods">Media Methods</a></li>
    <li><a class="caps" href="/popcorn-docs/media-properties">Media Properties</a></li>
    <li><a class="caps" href="/popcorn-docs/modules">Modules</a></li>
    <li><a class="caps" href="/popcorn-docs/parsers">Parsers</a></li>
    <li><a class="caps" href="/popcorn-docs/players">Players</a></li>
    <li><a class="caps" href="/popcorn-docs/plugins">Plugins</a></li>
    <li><a class="caps" href="/popcorn-docs/popcorn-constructor">Popcorn Constructor</a></li>
    <li><a class="caps" href="/popcorn-docs/utility-methods">Utility Methods</a></li>
  </ul>
</div>
<div id="scrollable">
  <div id="content">
    <h1><a name="media-methods">Media Methods</a></h1>
    <p>Media methods are group of methods that pertain to various functions of the media element.  These are functions like play, pause, set/get the current time, and so that make it easy to manipulate the media.  This allows the user to programmatically control their media as well as perform various actions at times throughout the video, like call a function at 5 seconds.</p>
    {% for post in site.categories.media-methods reversed %}
      <ul>
        <li><a class="lower" href="#{{ post.title }}">{{ post.title }}</a></li>
      </ul> 
    {% endfor %}
    {% for post in site.categories.media-methods reversed %}
      <a name="{{ post.title }}"></a>
      {{ post.content }}
    {% endfor %}
  </div>
</div>
