---
title: Popcorn.js Documentation
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/popcorn-docs/index.css">
    <link rel="stylesheet" type="text/css" href="/popcorn-docs/mobile.css" media="only screen and (max-device-width: 1024px)">
    <link rel="stylesheet" type="text/css" href="/popcorn-docs/prettify/prettify.css">
  </head>
  <body>
    <div id="header">
      <h1><a href="default.html">Popcorn<strong>.js</strong> Documentation</a></h1>
      <small>
      </small>
    </div>
    <div id="subheader">
      <h1>Home</h1>
      <small></small>
    </div>
    {{ content }}
    <!-- Functionality and Syntax Highlighting -->
    <script type="text/javascript" src="/popcorn-docs/index.js"></script><script type="text/javascript" src="/popcorn-docs/prettify/prettify.js"></script>
  </body>
</html>
