---
title: Popcorn.js Documentation
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
    <link rel="stylesheet" type="text/css" href="/mobile.css" media="only screen and (max-device-width: 1024px)">
    <link rel="stylesheet" type="text/css" href="/prettify/prettify.css">
  </head>
  <body>
    <div id="header">
      <h1><a href="default.html">Popcorn<strong>.js</strong> Documentation</a></h1>
      <small>
        <select>
          <optgroup label="English" value="en">
            <option value="edge">edge</option>
            <option selected value="1.2.0">1.2.0</option>
            <option value="1.1.0">1.1.0</option>
            <option value="1.0.0rc3">1.0.0rc3</option>
            <option value="1.0.0rc2">1.0.0rc2</option>
            <option value="1.0.0rc1">1.0.0rc1</option>
            <option value="1.0.0">1.0.0</option>
            <option value="0.9.6">0.9.6</option>
            <option value="0.9.5.1">0.9.5.1</option>
            <option value="0.9.5">0.9.5</option>
            <option value="0.9.4">0.9.4</option>
            <option value="0.9.3">0.9.3</option>
            <option value="0.9.2">0.9.2</option>
          </optgroup>
          <optgroup label="Español" value="es"><option value="1.0.0">1.0.0</option></optgroup>
          <optgroup label="Japanese" value="jp"><option value="0.9.5">0.9.5</option></optgroup>
        </select>
      </small>
    </div>
    <div id="subheader">
      <h1>Home</h1>
      <small></small>
    </div>
    {{ content }}
    <!-- Functionality and Syntax Highlighting -->
    <script type="text/javascript" src="/index.js"></script><script type="text/javascript" src="/prettify/prettify.js"></script>
  </body>
</html>
