---
layout: default
title: Events
---
<nav class="main">
  <h1><a href="/popcorn-docs/index.html">API Reference</a></h1>

  <ul>
    <li><a href="/popcorn-docs/getting-started">Getting Started</a></li>
		<li><a href="/popcorn-docs/addon-development">Addon Development</a></li>
    <li><a href="/popcorn-docs/popcorn-constructor">Popcorn Constructor</a></li>
    <li><a href="/popcorn-docs/media-methods">Media Methods</a></li>
    <li><a href="/popcorn-docs/media-properties">Media Properties</a></li>
    <li><a href="/popcorn-docs/utility-methods">Utility Methods</a></li>
    <li><a class="selected" href="/popcorn-docs/events">Events</a></li>
    <li><a href="/popcorn-docs/plugins">Plugins</a></li>
    <li><a href="/popcorn-docs/players">Players</a></li>
    <li><a href="/popcorn-docs/parsers">Parsers</a></li>
    <li><a href="/popcorn-docs/modules">Modules</a></li>
    <li><a href="/popcorn-docs/effects">Effects</a></li>
  </ul>
</nav>

<div class="scrollable">
  <section class="content">

    <article id="Events">
    <h1 id="events">Events</h1>
    <p>Events in Popcorn.js work on a trigger and listen system.  You are able to trigger events to happen and all of that events listeners will be executed.  This makes it easy in Popcorn.js to perform actions at given moments during a video, for example, perform an action whenever the video is paused would simply consist of listen for the pause event and providing a callback function to perform your actions.</p>
    
    {% for post in site.categories.events %}
      <ul>
        <li><a class="lower" href="#{{ post.title  }}">{{ post.title }}</a></li>
      </ul> 
    {% endfor %}
    {% for post in site.categories.events %}
      <a name="{{ post.title }}"></a>
      {{ post.content }}
    {% endfor %}
    </article>
  </section>
</div>
