---
layout: default
title: Instance Methods 
---
<div id="sidebar">
  <div class="vertical_divider"></div>
  <h1>API Reference</h1>
  <ul>
    <li><a class="caps" href="/popcorn-docs/effects">Effects</a></li>
    <li><a class="caps" href="/popcorn-docs/getting-started">Getting Started</a></li>
    <li><a class="caps" href="/popcorn-docs/instance-methods">Instance Methods</a></li>
    <li><a class="caps" href="/popcorn-docs/instance-property">Instance Properties</a></li>
    <li><a class="caps" href="/popcorn-docs/media-methods">Media Methods</a></li>
    <li><a class="caps" href="/popcorn-docs/modules">Modules</a></li>
    <li><a class="caps" href="/popcorn-docs/parsers">Parsers</a></li>
    <li><a class="caps" href="/popcorn-docs/players">Players</a></li>
    <li><a class="caps" href="/popcorn-docs/plugins">Plugins</a></li>
    <li><a class="caps" href="/popcorn-docs/static-methods">Static Methods</a></li>
  </ul>
  <ul>
    <li><a href="/popcorn-docs/index.html">Keyword Index</a></li>
  </ul>
</div>
<div id="scrollable">
  <div id="content">
    <h1><a name="{{ page.title }}">{{ page.title }}</a></h1>
    {% for post in site.categories.getting-started %}
      <ul>
        <li><a href="#{{ post.title }}">{{ post.title }}</a></li>
      </ul> 
    {% endfor %}
    {% for post in site.categories.getting-started %}
      <a name="{{ post.title }}"></a>
      {{ post.content }}
    {% endfor %}
  </div>
</div>
